 *{
    max-width: 1600px;
} 
.layout{
    color: blue;
    width: 1600px;
    height: 2908px;
    max-width: 1600px;

}
header{
    width: 1363px;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
     background: url(../assets/hero-bg.png);
    padding: 70px 120px 134px 120px;
}    
.font family inter> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.menubtn{
   width: 164px;
   height: 44px;
   border-radius: 5px;
   background-color: green;
   font-family: inter;
   color: white;
   font-size: 16px;
   /* text-align: left; */
   gap: 16px;
   cursor: pointer;
}
.menubtn:hover{
    background-color: white;
    color: black;
}
nav{
    height: 92px;;
    width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px; 
    gap: 346px;
    padding: 16px 120px 16px 120px; 
  border: 2px solid red;
}


.menu{
    display: flex;
   list-style: none;
     gap: 34px; 
     justify-items: center;  
}
.banner-image{
    width: 2042px;
    height: 1363px;
   
      
}
div .banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1360px;
    height: 379px;
    flex-direction: column;
    text-align: center;
  
 
    /* border: 2px solid red; */
}
.banner-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 1360px;
height: 295px;
  text-align: center;
}
.banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 465px;
height: 52px;
  text-align: center;
}
.btn1{
    height:35px ;
    width: 229px;
    border-radius: 20px;
    color: green;
    cursor: pointer;
}
.btn1:hover{
    background-color: white;
    color: black;
}
.text{
    color: white;
}
.font-green{
    color: green;
}
.btn23{
    width: 465px ;
    height: 52px;
    display: flex;
    gap: 16px; 
    
}
.btn2{
    width: 285px;
    background-color: green;
    height: 52px;
color: white;
border-radius: 5px;
cursor: pointer;
}
.btn2:hover{
    background-color: white;
    color: black;
}
.btn3{
    width: 180px;
    height: 52px;
    
   color: white;
   border-radius: 5px solid white;
   background-color: rgb(59, 59, 63); 
   opacity: 100%;
   cursor: pointer;
}
.btn3:hover{
    background-color: white;
    color: black;
}
/* section notes */
.notes{
    height: 448px;
    background-color: #f7f6f6;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
    
    
    
}
.notetext{
text-align: center;
font-size: 24px;
padding-top: 20px;

}
.card{
    height: 300px;
    width:1360px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    
   
}
.card1{
    width: 340px;
    height: 300px;
    border-radius: 5px ;
     text-align: center;
     background-color: white;
    box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.1);
}
.card2{
    width: 340px;
    height: 300px;
    border: 1px solid rgb(238, 233, 233);
   border-radius: 5px ;
     text-align: center;
     background-color: white;
    box-shadow:0px 10px 20px -12px rgba(184, 176, 176, 0.1) ;

}
.card3{
    width: 340px;
    height: 300px;
    border: 1px solid rgb(238, 233, 233);
    border-radius: 5px ;
     text-align: center;
    background-color: white;
    box-shadow:0px 10px 20px -12px rgba(184, 176, 176, 0.1) ;
}
.card4{
    width: 340px;
    height: 300px;
    text-align: center;
    border: 1px solid rgb(238, 233, 233);
    border-radius: 5px ;
    background-color: white;
    box-shadow:0px 10px 20px -12px rgba(184, 176, 176, 0.1) ;
}
.ichon{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: auto;
   border: 2px orangered;
    background-color: orangered;
    margin-top: 60px;  
}
.ichon img{
    text-align: justify;
}
.brain{
    height: 838px;
    padding: 120px;
    border: 2px solid skyblue;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 40px;
}
.brain-image{
    height: 600px;
    width: 600px;
    background-color: aliceblue;
}
.brain-content{
    width: 700px;
    height: 396px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.solution{
    height: 228px;
    width: 700px;
   
}
h4{
    color: green;
    text-transform:uppercase;
    font-weight: bold;
}
.h2{
    font-size: 24px;
    text-transform: capitalize;

}
.solution-list{
    height: 128px;
    width: 700px;
    
    font-size: x-small;
    gap: 12px;
    display: flex;
    flex-direction: column;
} 
/* ready section */
#ready-to-think{
    height: 506px;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 120px;
    background-color: white;
 
}
.think{
    height: 384px;
    width: 1360px;
    background-color: #ebeef1;
    padding: 80px 40px 80px 40px;
    text-align: center;
    border-radius: 5px;
}
.ready-text{
width: 1280px;
height: 112px;
gap: 16px;
}
.ready-button{
    width: 1280px;
    height: 88px;
}
.ready-button button{
    width: 194px;
    height: 52px;
    background-color: green;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    
}
.ready-button button:hover{
    background-color: white;
    color: black;
}
.ready-button p{
    width: 1280px;
    height: 20px;
}
#footer{
    width: 1600px;
    height: 348px;
    background-color: black;
    color: white;
    text-align: center;
}
.footer{
    width: 1360px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 120px;
}
.social{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.icon{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.copy-right{
    height:54px ;
    width: 1360px;
    
}


