/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
header{
    width: 1600px;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2px solid skyblue;
}
  /* .banner-image{
    height: 674px ;
    width: 1600px;
   } */

    
.font family inter> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.menubtn{
   width: 133px;
   height: 23px;
   border-radius: 5px;
   background-color: green;
   font-family: inter;
   color: white;
   font-size: 30px;
   text-align: left;

}
nav{
    height: auto;
    width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
 
}
div ul{
    display: flex;
   list-style: none;
     gap: 34px; 
     justify-items: center;  
}
div .banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1360px;
    height: 379px;
 
    /* border: 2px solid red; */
}
.btn1{
    height:35px ;
    width: 229px;
    border-radius: 20px;
    color: green;
}
h1{
    /* width: 770 px;
    height: 168px; */
}
.btn23{
    width: 465px ;
    height: 52px;
    display: flex;
    gap: 16px; 
    
}
.btn2{
    width: 285px;
    background-color: green;
    height: 52px;
color: white;
border-radius: 5px;
}
.btn3{
    width: 180px;
    height: 52px;
    
   color: white;
   border-radius: 5px solid white;
   background-color: rgb(59, 59, 63); 
   opacity: 100%;
}
