
header{
    width: 1600px;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2px solid skyblue;
}    
.font family inter> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.menubtn{
   width: 133px;
   height: 23px;
   border-radius: 5px;
   background-color: green;
   font-family: inter;
   color: white;
   font-size: 30px;
   text-align: left;

}
nav{
    height: auto;
    width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
   
 
}
div ul{
    display: flex;
   list-style: none;
     gap: 34px; 
     justify-items: center;  
}
div .banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1360px;
    height: 379px;
 
    /* border: 2px solid red; */
}
.btn1{
    height:35px ;
    width: 229px;
    border-radius: 20px;
    color: green;
}
.text{
    color: white;
}
.font-green{
    color: green;
}
.btn23{
    width: 465px ;
    height: 52px;
    display: flex;
    gap: 16px; 
    
}
.btn2{
    width: 285px;
    background-color: green;
    height: 52px;
color: white;
border-radius: 5px;
}
.btn3{
    width: 180px;
    height: 52px;
    
   color: white;
   border-radius: 5px solid white;
   background-color: rgb(59, 59, 63); 
   opacity: 100%;
}
/* section notes */
.notes{
    height: 448px;
    background-color: white;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
    /* margin-left: 120px; */
    
}
.notetext{
text-align: center;
}
.card{
    height: 300px;
    width:1360px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border: 10px solid white;
    box-shadow: inset;
   
}
.card1{
    width: 340px;
    height: 300px;
    border: 1px solid rgb(238, 233, 233);
    border-radius: round;
     text-align: center;
}
.card2{
    width: 340px;
    height: 300px;
    border: 1px solid rgb(238, 233, 233);
    border-radius: round;
     text-align: center;

}
.card3{
    width: 340px;
    height: 300px;
    border: 1px solid rgb(238, 233, 233);
    border-radius: round;
     text-align: center;
    
}
.card4{
    width: 340px;
    height: 300px;
    text-align: center;
    border: 1px solid rgb(238, 233, 233);
    border-radius: round;
    
}
.ichon{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: auto;
   border: 2px orangered;
    background-color: orangered;
    margin-top: 60px;  
}
.ichon img{
    text-align: justify;
}
