*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    
    border: 2px solid skyblue;
    padding: 16px 120px 16px 120px;
    width: 100%;
    max-width: 1600px;
   
  
 
}

    
.font family inter> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
}
.menubtn{
   width: 133px;
   height: 23px;
   border-radius: 5px;
   background-color: green;
   font-family: inter;
   color: white;
   font-size: 30px;
   text-align: left;

}
nav{
    height: auto;
    width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
 
}
div ul{
    display: flex;
   list-style: none;
     gap: 34px; 
     justify-items: center;
    
}